 #always {
   position: fixed;
   background-color: dodgerblue;
   height: 350px;
   width: 350px;
   top: 10%;
   left: 30%;
   z-index: 1;
   box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
   0 2px 2px 0 rgba(0, 0, 0, 0.14),
   0 1px 5px 0 rgba(0, 0, 0, 0.12);
   padding-bottom: 30px;
 }

 .always-corner-resize {
   position: absolute;
   width: 10px;
   height: 10px;

   cursor: nwse-resize;
 }

 #always-top-left-resize { top: -1px; left: -1px; }
 #always-top-right-resize { top: -1px; right: -1px; }
 #always-bottom-left-resize { bottom: -1px; left: -1px; }
 #always-bottom-right-resize { bottom: -1px; right: -1px; }

 .header-wind {
   position: absolute;
   background-color: deepskyblue;
   top: 0;
   left: 0;
   color: #ccc;
   cursor: pointer;
   width: 100%;
   height: 30px;

 }

  p {
    margin: 5px;
    text-align: center;
  }

 .content-box {
   height: 100%;
   width: 100%;
   z-index: 3;
   margin-top: 30px;

 }


 .material-icons{
   font-size: 40px;
   color: lightslategrey;
   cursor: pointer;

 }

